
<div class="bg-gray-200 p-4 rounded-lg shadow space-y-2">
  
<div class="flex">
  <div class="w-10 h-10 rounded-full mr-4 bg-red-200 flex items-center justify-center uppercase font-semibold" 
    *ngIf="comment?.senderName">
      {{ comment!.senderName[0] }}
  </div>

  <div class="flex flex-col">
    <div class="text-base font-bold capitalize">{{ comment?.senderName }}</div>
    <div class="text-xs font-mono text-gray-500">{{ comment?.createdDate| date:"MMM yyyy" }}</div>
  </div>

</div>  

<div class="flex items-center justify-between">
  <div class="flex items-center">
      <div *ngFor="let star of [1, 2, 3, 4, 5]; let i = index">
        <span [ngClass]="i < comment!.rating ? 'text-yellow-400' : 'text-gray-300'">
          {{ i < comment!.rating ? '&#9733;' : '&#9734;' }}
        </span>
      </div>
    </div>
</div>

    <div class="text-gray-900">
      {{ comment?.reviewMessage }}
    </div>
  </div>

