<div class="max-w-screen-sm mx-auto px-4 py-8">
    <div class="bg-white rounded-lg shadow-lg">
        <!-- Chat Header -->
        <div class="px-4 py-3 bg-gray-200 rounded-t-lg">
            <h1 class="text-lg font-semibold text-gray-800">Anonymous Chat</h1>
            <a href="/" class="hover:bg-blue-700 hover:text-gray-50 p-2 rounded transition">
              <i class="fa fa-home mr-2" aria-hidden="true"></i> Home
          </a>
        </div>
        <!-- Chat Messages -->
        <div class="p-4" style="max-height: 400px; overflow-y: auto;">
            <div class="flex flex-col space-y-4">
                <!-- All Messages -->
                <ng-container *ngFor="let message of messages">
                  <div [ngClass]="{'flex justify-end': message.userRole === 1 && !message.userRole}">
                      <div [ngClass]="{'flex justify-end text-black rounded-lg': message.userRole === 1 || !message.userRole, 
                                      'bg-gray-300 rounded-lg py-2 px-4 max-w-xs': message.userRole === 2 && message.userRole}">
                          <p>{{ message.content }}</p>
                      </div>
                  </div>
                </ng-container>
            </div>
        </div>
        <!-- Chat Input -->
        <div class="border-t border-gray-200 px-4 py-3">
            <div class="flex">
                <input type="text" placeholder="Type your message here..." class="flex-1 bg-gray-100 border border-gray-300 rounded-lg px-4 py-2 focus:outline-none focus:border-blue-500" [(ngModel)]="newMessage">
                <button class="ml-4 bg-blue-500 text-white px-4 py-2 rounded-lg focus:outline-none" (click)="sendMessage()">Send</button>
            </div>
        </div>
    </div>
  </div>
  