<div class="flex h-screen bg-gray-100 overflow-hidden">
    
  <app-sidebar></app-sidebar>

  <div class="w-full p-20">

    <div class="bg-gray-200 w-1/2 min-w-64 p-10 rounded-lg shadow space-y-2">
      
      <div class="grid justify-items-center">
        <div class="w-40 h-40 rounded-full bg-gradient-to-r from-sky-500 to-indigo-500 flex text-5xl items-center justify-center uppercase font-bold font-serif" 
        *ngIf="user?.userName">
        {{ user!.userName[0] }}
      </div>
      
      <div class="flex flex-col">
        <div class="text-3xl font-bold p-4 items-center capitalize">{{ user!.userName }}</div>
      </div>

    </div>  
    <h2 class="text-2xl pb-5 font-semibold">About me</h2>
    <p class="font-medium">Info:</p>
    <p class="font-medium">Role: {{ getUserRoleString(user.userRole)}}</p>
    
    <h2 class="text-2xl font-semibold py-5">Contact Information:</h2>
    
    <p class="cursor-pointer">
      <i class="fas fa-envelope pr-5"></i> 
        Email: {{user.email}}
    </p>

  </div>
    
</div>
  